<section class="hero">

    <div class="hero-background" style="background-image: url({{ blog_hero_image }})">
        <div class="overlay"></div>
        <header>
            <h1>{{ title }}</h1>
            {{ sub_title wrap="h2" }}
        </header>
    </div>
</section>
<section class="regular">

	<header>
		<h1>{{ title }}</h1>
		<h2>{{ content }}</h2>
	</header>

	<article class="list">
		{{ collection:blog paginate="true" as="posts" limit="4" }}
			{{ posts scope="tag" }}
				{{ partial:block }}
			{{ /posts }}

			{{ partial:pagination }}
		{{ /collection:blog }}
	</article>

</section>
