body {
	background: #fff;
	color: $color_dark;
	font-family: $font_sans;
	font-size: 18px;
}

.inline { display: inline; }
.inline-block { display: inline-block; }
.block { display: block; }

.col-centered {
    float: none;
    margin: 0 auto;
}
.phone a {
	color: $color_white;
	font-family: $font_sans;
	font-weight: 600;
	text-transform: uppercase;
}
.phone, .phone a:hover, phone a:focus {
    /*text-decoration: none;*/
}
.myemail, .myemail a:hover, .myemail a:focus {
	color: $color_white;
	/*text-decoration: none;*/
}
.myemail>span>a, .myemail>span>a:hover, .myemail>span>a:focus {
	color: $color_blue;
	font-weight: 600;
}
.rounded {
  border-radius: 2.0rem;
}
.p-0 {
  padding: 0;
}

.p-1 {
  padding: 8px;
}

.p-2 {
  padding: 16px;
}

.p-3 {
  padding: 24px;
}

.p-4 {
  padding: 40px;
}

.p-5 {
  padding: 64px;
}

.p-6 {
  padding: 80px;
}
.white-text {
	color: $color_white;
}
.blue-text {
	color: $color_blue;
}
