body {
	background: #fff;
	color: $color_dark;
	font-family: $font_sans;
	font-size: 18px;
}

.inline { display: inline; }
.inline-block { display: inline-block; }
.block { display: block; }

.col-centered {
    float: none;
    margin: 0 auto;
}
.phone a {
	color: $color_white;
	font-family: $font_sans;
	font-weight: 600;
	text-transform: uppercase;
}
.phone, .phone a:hover, phone a:focus {
    /*text-decoration: none;*/
}
.myemail, .myemail a:hover, .myemail a:focus {
	color: $color_white;
	/*text-decoration: none;*/
}
.myemail>span>a, .myemail>span>a:hover, .myemail>span>a:focus {
	color: $color_blue;
	font-weight: 600;
}
