<!--<footer class="page" style="background-image: url('headers/footer-naturescape-1950x166-no-bottom-1.jpg');">-->
<footer class="page" style="background-image: url({{ imgix:image_url path="headers/footer-naturescape-1950x166-no-bottom-1.jpg" auto="format" fit="scale"}})">
                                                       <!--style="background-image: url({{ imgix:image_url path="icons/paint-Q.png" auto="format" fit="scale"}})"-->
        <section class="page">
            <div class="content">
                <p class="phone tribute">Jeff or Kathy Baker</p>
                <p class="phone tribute"><a href="tel:+1-705-387-3750" rel="nofollow">Phone: 705.387-3750</a></p>
                <p class="phone tribute"><a href="tel:+1-705-571-2740" rel="nofollow">Cell: 705.571-2740</a></p>
                <p class="copyright"><span>&copy; {{ now format="Y" }} {{ site_name }}</span><span><a href="mailto:info@bakerslanding.ca"> | info@bakerslanding.ca</a></span></p>
                <p class="tribute"><a href="https://rockwynnwebdesign.ca">Designed by Rockwynn Web Design</p>
            </div>
        </section>
</footer>
