<footer class="page" style="background-image: url('/assets/headers/footer-naturescape-1950x166-no-bottom.jpg');">
        <section class="page">
            <div class="content">
            <p class="phone text-6xl"><a href="tel:+17053873750">Landline: 705.387-3750</a></p>
            <p class="phone text-6xl"><a href="tel:+17055712740">Cell: 705.571-2740</a></p>
            <p class="copyright"><span>&copy; {{ now format="Y" }} {{ site_name }}</span><span><a href="mailto:info@bakerslanding.ca"> | info@bakerslanding.ca</a></span></p>    <!--<span><a href="tel:+17053842644" rel="nofollow">| 705.384.2644</a></span>-->
            <p class="tribute"><a href="https://rockwynnwebdesign.ca">Designed by Rockwynn Web Design</p>
                </div>
        </section>
</footer>
