<footer class="page bright-blue">
    <div class="">
        <p class="phone text-6xl"><a href="tel:+17053873750">Landline: 705.387-3750</a></p>
        <p class="phone text-6xl"><a href="tel:+17055712740">Cell Phone: 705.571-2740</a></p>

        <p class="copyright"><span>&copy; {{ now format="Y" }} {{ site_name }}</span>
            <span><a href="mailto:info@bakerslanding.ca"> | info@bakerslanding.ca</a></span>
            <!--<span><a href="tel:+17053842644" rel="nofollow">| 705.384.2644</a></span>-->
        </p>
        <p class="tribute">Designed by Rockwynn Web Design</p>
    </div>
</footer>
