<section class="hero-header">

	<div class="hero-header-background" style="background-image: url(/assets/bakers-landing-header-1500x373.png)">
		<div class="overlay-header"></div>
		<!--<header>
			<h1>{{ title }}</h1>
			{{ sub_title wrap="h2" }}
		</header>
		<div class="meta">
			<div class="avatar">
				<img src="https://s3.amazonaws.com/uifaces/faces/twitter/rssems/48.jpg" class="img-circle" width="48" height="48">
			</div>
			<div class="name">
				<a href="" class="name">{{ author_name }}</a>
			</div>
			<div class="length">{{ content | read_time }} minute read</div>
			<div class="date">
				{{ date format="F j, Y" }}
			</div>
		</div>-->
	</div>

	<!--<article class="content">
		{{ content }}
	</article>-->
</section>














<!--<div class="hero-header bg-white text-white h-{{ height }} relative overflow-hidden" style="background-color: {{ background_color }}">
    {{ imgix:responsive_image_tag path="bakers-landing-header.png" auto="format" fit="crop" w="1600" alt="Echo Rock, Lake Cecebe, Ontario" }}
    <!--<img src="" alt="" class="hero-header mix-{{ blend_mode or "none" }} pin absolute fit h-{{ height }} w-full">
    <div class="absolute h-full w-full z-10 flex items-center text-center">
        <div class="flex-1 p-3 h-100">
            <img class="center" src="/assets/bakers-landing-logo.png">
            <h2 class="font-subheading italic text-5xl">{{ subhead }}</h2>
        </div>
    </div>-->
    <!--<img class="fit mix-{{ blend_mode or 'none' }} w-full h-{{ height }}" src="{{ image }}" alt="{{ alt }}">
    {{ if show_topic }}<p class="absolute pin-b pin-l pin-r m-3 w-full text-center opacity-75 p-2 font-subheading">{{ topics | sentence_list }}</p>{{ /if }}-->
<!--</div>-->
