<nav class="mid-navbar mid-navbar-redwood">
        <div class="container-fluid">
                <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand hidden-sm hidden-md hidden-lg" href="/"><img src="" alt="" width="150" /></a>
                </div>
                <div class="collapse navbar-collapse" id="nav-main">
                        <ul class="nav mid-navbar-nav navbar-nav">
                            <li><a href="/">Home</a></li>
                            <li><a href="/about">About Us</a></li>
                            <li><a href="/blog">Blog</a></li>
                            <li class="invisible hidden-xs before-move-up"><a href="#" class="move-up"><img src="/assets/150x50.png" alt="" width="150" /></a></li>
                            <!-- SW leave the above line there, it's invisible but holds space for the logo in the header image-->
                            <li><a href="gallery">Gallery</a></li>
                            <li><a href="/things">Things</a></li>
                            <li><a href="contact">Contact</a></li>
                        </ul>
                </div>
        </div>
</nav>
