<!--<nav class="navbar navbar-light navbar-expand-md bg-light justify-content-md-center justify-content-start">
    <a class="navbar-brand d-md-none d-inline" href="">Brand</a>
    <button class="navbar-toggler ml-1" type="button" data-toggle="collapse" data-target="#collapsingNavbar2">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="nav-link" href="#"><i class="fa fa-search mr-1"></i></a>
    <div class="navbar-collapse collapse justify-content-between align-items-center w-100" id="collapsingNavbar2">
        <ul class="navbar-nav mx-auto text-md-center text-left">
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item my-auto">
                <a class="nav-link navbar-brand mx-0 d-none d-md-inline" href="">Brand</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
        </ul>
        <ul class="nav navbar-nav flex-row justify-content-md-center justify-content-start flex-nowrap">
            <li class="nav-item"><a class="nav-link" href=""><i class="fa fa-facebook mr-1"></i></a> </li>
            <li class="nav-item"><a class="nav-link" href=""><i class="fa fa-twitter"></i></a> </li>
        </ul>
    </div>
</nav>



<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="navbar-collapse collapse w-100 dual-collapse2 order-1 order-md-0">
        <ul class="navbar-nav ml-auto text-center">
            <li class="nav-item active">
                <a class="nav-link" style="color: #2368b2;" href="#">Link</a>
            </li>
        </ul>
    </div>


    <div class="mx-auto my-2 order-0 order-md-1 position-relative">
        <a class="mx-auto" href="#">
            <img src="/assets/bakers-landing-logo.png">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>


    <div class="navbar-collapse collapse w-100 dual-collapse2 order-2 order-md-2">
        <ul class="navbar-nav mr-auto text-center">
            <li class="nav-item">
                <a class="nav-link" style="color: #2368b2;" href="#">Link</a>
            </li>
        </ul>
    </div>
</nav>-->

<!--<nav class="navbar navbar-default">
    <div class="container text-center">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            <a class="navbar-brand" href="#">Title</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-center">
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
            </ul>
        </div>
    </div>
</nav>-->


<nav class="navbar navbar-default">
        <div class="container-fluid">
                <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand hidden-sm hidden-md hidden-lg" href="#"><img src="" alt="" width="150" /></a>
                </div>
                <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="#">Who We Are</a></li>
                            <li><a href="#">Our Food</a></li>
                            <li class="invisible hidden-xs before-move-up"><a href="#" class="move-up"><img src="/assets/bakers-landing-logo.png" alt="" width="150" /></a></li>
                            <li><a href="#">Book a Table</a></li>
                            <li><a href="#">Promotions</a></li>
                        </ul>
                </div>
        </div>
</nav>

<!--<nav class="container">
    <div class="row visible-xs text-center">
        <div class="col-xs-12">	<a href="#"><img src="http://icicnr.indiancattle.com/images/sample_logo.png"  width="200" alt="BLUE|BERY"/></a>

        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <ul class="text-center">
                <li><a href="#">Who We Are</a>
                </li>
                <li><a href="#">Our Food</a>
                </li>
                <li class="hidden-xs"><a href="#"><img src="http://icicnr.indiancattle.com/images/sample_logo.png" width="200" alt="BLUE|BERY"/></a>
                </li>
                <li><a href="#">Book a Table</a>
                </li>
                <li><a href="#">Promotions</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
            <img src="image.jpg" width="100%" height="300" alt="image-goes-here" />
    </div>
</div>-->

<!--<nav class="navbar navbar-redwood">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-main" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand invisible" href="/">{{ site_name }}</a>
        </div>

        <div class="collapse navbar-collapse" id="nav-main">
            <ul class="nav navbar-nav">
                {{ nav from="/" max-depth="2" include_home="true" scope="tag" }}
                {{ if !children }}
                    <li class="nav-item{{ if is_current }} active{{ endif }}">
                      <a class="nav-link" href="{{ url }}">{{ title }}</a>
                    </li>
                {{ else }}


                    <li class="nav-item dropdown{{ if is_current }} active {{ endif }}">
                        <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown{{ id }}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ title }}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown{{ id }}">
                        <li>
                            <!--<a class="dropdown-item" href="{{ url }}">{{ title }}</a> this adds the parent as a clickable child page tab -->
                        <!--</li>
                            {{ children }}
                            <li{{ if is_current or is_parent }} class="active"{{ /if }}><a class="dropdown-item" href="{{ url }}">{{ title }}</a></li>
                            {{ /children }}
                        </ul>
                    </li>
                {{ endif }}
            {{ /nav }}

            </ul>
        </div>

    </div>
</nav>-->





<!--<nav id="mainNavigation" class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarContent">
    <ul class="navbar-nav mr-auto">
      {{ nav from="/" max_depth="2" include_home="true" }}
      {{ if !children }}
      <li class="nav-item{{ if is_current }} active{{ endif }}">
        <a class="nav-link" href="{{ url }}">{{ title }}</a>
      </li>
      {{ else }}
      <li class="nav-item dropdown{{ if is_current }} active {{ endif }}">
        <a href="#" class="nav-link dropdown-toggle" href="#" id="navbarDropdown{{ id }}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ title }}</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown{{ id }}">
          <li><a class="dropdown-item" href="{{ url }}">{{ title }}</a></li>
          {{ children }}
          <li><a class="dropdown-item" href="{{ url }}">{{ title }}</a></li>
          {{ /children }}
        </ul>
      </li>
      {{ endif }}
      {{ /nav }}
    </ul>
  </div>
</nav>-->


<!--<li{{ if is_current or is_parent }} class="active"{{ /if }}>
    <a href="{{ url }}">{{ tag:nav_title or title }}
    </a>
</li>
{{ /nav }}-->
