<section class="regular">

	<header>
		<h1 class="centered">Our Cottage</h1>
		<h2 class="centered bright-blue">FUN FOR THE WHOLE FAMILY, Come out and enjoy our beautiful Lake Cecebe cottage.</h2>
	</header>
	<div class="info">
		<p>Set in the beautiful Almaguin Highlands, this beautiful 2-storey, 3 bedroom home is a very comfortable, peaceful
			and relaxing home-away-from-home. Enjoy the 40+ miles of boating pleasure on scenic Lake Cecebe and through the
			Magnetawan River system; boat through the historic lock system at Magnetawan to the beauty of Ahmic Lake; enjoy
			great fishing (small mouth bass, walleye/pickerel, northern pike and yellow perch); swimming, hiking, bird watching,
			picnics or just relax to the call of the loons. Golfing, horseback riding, shopping and excellent dining are nearby
			or just relax over marshmallows at the fire pit. Just one hour to Huntsville, North Bay or Parry Sound and less than
			3 hours from Toronto.
		</p>
   		<p>Set on 3 acres with 600&#8242; of private water frontage, this home includes a master bedroom with en-suite, and
			sliding doors from the large cathedral ceiling living room to the expansive wrap-around deck. The kitchen and
			dining room also overlook the lake and the property boasts a drilled well, south east exposure, 48&#8242; dock,
			air conditioning and sleeps 8 comfortably. A 40&#8243; HD TV (satellite connection) and DVD/VHS player/recorder
			are also included and are part of the full surround system.  There is good cell phone reception with Rogers,
			Bell and their partners. Internet connectivity using a Smart phone, “stick” or “hub” with either of these
			service providers is also good.  A land line is provided for local calling.
		</p>
   		<p>Both the upper and lower deck and the dock are ideal for sun bathing, watching the world go by, a morning cup of
			coffee or an evening drink. The dock ladder allows easy access to the lake for swimming. A 14&#8242; fibreglass
			row boat with oars comes with Jeff&#8217;s Vacation Home. Boats and/or motors can be rented on the lake and there
			are boat launches if you have your own boat. Come listen to the loons, relax and enjoy the good life at the lake!
		</p>
   		<p>A well behaved 100% house trained friendly dog that is good with strangers is allowed if the owners agree to poop and scoop
			and never leave the dog unattended. The dog must be on a leash and cannot be left alone in the house or tied outside to bark
			at any time. A maximum of 2 dogs are allowed.</p>
   		<p>This property is ideal for a couple, family or extended family with grandparents and very suitable for active seniors. The house
	   is comfortable for 6 persons. Two (2) additional guests can be accommodated for an extra charge, and permission of the owners.
	   The house is not suitable for handicapped individuals because of the two levels
   		</p>
   		<p>Guests are expected to bring their own sheets, pillow cases and towels OR sheets, pillow cases and towels
			can be provided for an extra $60 per visit.
		</p>
   		<p>The rental period is Saturday to Saturday. Check-in is 2 PM and check-out is 11am.
		</p>
		<p>Potential guests will be asked to fill out and return a Rental Application form, similar to those required by most
			cottage rental firms. Information on the form will be kept private.
		</p>
   		<p>We hope you like our site, and look forward to talking with you.</p>
    </div>





	<article class="content">
		<!--{{ content }}
		<h2>Fun Facts</h2>
		{{ fun_facts | ul }}-->
	</article>

</section>
