<section class="regular">
	<article class="content">
		<p>Jeff and Kathy Baker are a mother and son team. We hope you feel right at home here, and have a wonderful time.
			Baker's Landing is the perfect place to create new vacation memories that you and your family/group will
			cherish for years to come. Lake Cecebe is a great place to get away from the hustle and bustle and find a
			truly relaxing holiday. Your Hosts Jeff and Kathy Baker.</p>
		<h3 class="bright-blue">Conveniences</h3>
		{{ amenities | ul }}
	</article>
</section>
<section class="container-fluid">
    <div class="tiles">
        {{ collection:amenities }}
        <a class="item">
            <div class="image" style="background-image: url{{ imgix:image_url path="{{ photo }}" auto="format" fit="scale"}})">
                <h3 class="caption">{{ title }}</h3>
            </div>
        </a>
        {{ /collection:amenities }}
    </div>
</section>
<section class="regular">
	<article class="content">
		<h3 class="bright-blue">Entertainment</h3>
		{{ entertainment | ul }}
	</article>
</section>
<section class="container-fluid">
    <article class="content">
        {{ collection:outdoor-features }}
        <p class="centered">
			{{ imgix:responsive_image_tag path="{{ photo }}" class="normal captioned" }}
            <p class="caption">{{ title }}</p>
        </p>
        {{ /collection:outdoor-features }}
    </article>
</section>
<section class="regular">
	<article class="content">
		<h3 class="bright-blue">Outdoor Features</h3>
		{{ outdoor-features | ul }}
	</article>
</section>
<section class="container-fluid">
    <article class="content">
        {{ collection:summer }}
        <p class="centered">
			{{ imgix:responsive_image_tag path="{{ photo }}" class="normal captioned" }}
            <p class="caption">{{ title }}</p>
        </p>
        {{ /collection:summer }}
    </article>
</section>
<section class="regular">
	<article class="content">
		<h3 class="bright-blue">Summer Activities (nearby)</h3>
		{{ summer-activities | ul }}
	</article>
</section>
<section class="regular">
	<article class="content">
		<p>There is a second fridge and an additional shower in the basement, along with the washer and dryer. The nearest Hospital is in Huntsville which is a 45 minute drive. There are doctors in Burks Falls, by appointment only. Swimming is great off the dock. A well mannered friendly leashed dog is welcome and we support the “poop and scoop” program. A maximum of 2 dogs are allowed. Excessive barking is not permitted. The fire pit is right beside the water and firewood is supplied.</p>
	</article>
	<div class="read-more">
		<a href="/gallery/our-home">View Photos of Our Home</a>
	</div>
</section>
