<section class="regular">

    <header>
        <h1 class="centered bright-blue">Contact</h1>
    </header>



    <article class="content">
        <p>Contact Baker's Landing, we are here to answer any questions.</p>
        <p>Jeff or Kathy Baker</p>

        <!--<p class="phone">
        <a href="tel:+17053873750">Landline: 705.387-3750</a>
        </p>

        <p class="phone">
        <a href="tel:+17055712740">Cell: 705.571-2740</a>
        </p>

        <p class="myemail">
        <span><a href="mailto:info@bakerslanding.ca">email: info@bakerslanding.ca</a></span>
        </p>-->
        {{ content }}

        {{ form:create in="contact" }}

            {{ if errors }}
                <div class="alert alert-danger">
                    {{ errors }}
                        {{ value }}<br>
                    {{ /errors }}
                </div>
            {{ /if }}

            {{ if success }}
                <div class="alert alert-success">
                    Form was submitted successfully.
                </div>
            {{ /if }}

            <div class="form-group">
                <label>Name</label>
                <input type="text" name="name" value="{{ old:name }}" class="form-control" />
            </div>

            <div class="form-group">
                <label>Email</label>
                <input type="text" name="email" value="{{ old:email }}" class="form-control" />
            </div>

            <div class="form-group">
                <label>Favorite Number</label>
                <input type="number" name="number" value="{{ old:number }}" class="form-control" />
            </div>

            <div class="form-group">
                <label>Comment</label>
                <textarea name="comment" class="form-control">{{ old:comment }}</textarea>
            </div>

            <button class="btn btn-primary">Submit</button>

        {{ /form:create }}

    </article>

</section>
