<section class="container-fluid">
	<header>
		<h1 class="centered bright-blue">Welcome!</h1>
        <h2 class="uppercase bright-blue">Come and enjoy the beautiful seasons in Almaguin Highlands.  Great relaxing and good fishing too!  Boat rentals nearby.  Well behaved pet welcome.</h2>
	</header>



	<section class="regular">
		<article class="content">
			<p>
				<img src="/assets/lake-property/sunset-1746-619x549.jpg" class="captioned" alt="" data-action="zoom">
				<p class="caption">Another Beautiful Sunset</p>
			</p>

			<p>Jeff and Kathy Baker are a mother and son team. We hope you feel right at home here, and have a wonderful time.
				Baker's Landing is the perfect place to create new vacation memories that you and your family/group will cherish
				for years to come. Lake Cecebe is a great place to get away from the hustle and bustle and find a truly relaxing holiday.
				Your Hosts Jeff and Kathy Baker.
			</p>
		</article>
	</section>
    <div class="tiles">
        {{ collection:home-page-3up }}
        <a class="item">
            <div class="image" style="background-image: url({{ photo }});">
                <h3 class="caption">{{ title }}</h3>
            </div>
		</a>
        {{ /collection:home-page-3up }}
    </div>

</section>
